// @font-face
//   font-family 'Peak'
//   src url("fonts/peak-light.ttf")
//   font-style normal
//   font-weight 200
//
// @font-face
//   font-family 'Peak'
//   src url("fonts/peak-regular.ttf")
//   font-weight 400
//   font-style normal
//
// @font-face
//   font-family: 'Peak';
//   src url("fonts/peak-medium.ttf")
//   font-weight 500
//   font-style normal
//
// @font-face
//   font-family 'Peak'
//   src url("fonts/peak-bold.ttf")
//   font-weight 700
//   font-style normal


@font-face
  font-family 'Range Mono'
  src url('../fonts/range-mono-light-webfont.eot')
  src url('../fonts/range-mono-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/range-mono-light-webfont.woff2') format('woff2'), url('../fonts/range-mono-light-webfont.woff') format('woff'), url('../fonts/range-mono-light-webfont.ttf') format('truetype'), url('../fonts/range-mono-light-webfont.svg#range_monolight') format('svg')
  font-weight 300
  font-style normal

@font-face
  font-family 'Range Mono'
  src url('../fonts/range-mono-regular-webfont.eot');
  src url('../fonts/range-mono-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/range-mono-regular-webfont.woff2') format('woff2'), url('../fonts/range-mono-regular-webfont.woff') format('woff'), url('../fonts/range-mono-regular-webfont.ttf') format('truetype'), url('../fonts/range-mono-regular-webfont.svg#range_monolight') format('svg')
  font-weight 400
  font-style normal

@font-face
  font-family 'Range Mono'
  src url('../fonts/range-mono-medium-webfont.eot')
  src url('../fonts/range-mono-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/range-mono-medium-webfont.woff2') format('woff2'), url('../fonts/range-mono-medium-webfont.woff ') format('woff'), url('../fonts/range-mono-medium-webfont.ttf') format('truetype'), url('../fonts/range-mono-medium-webfont.svg#range_monolight') format('svg')
  font-weight 500
  font-style normal

@font-face
  font-family 'Range Mono'
  src url('../fonts/range-mono-bold-webfont.eot')
  src url('../fonts/range-mono-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/range-mono-bold-webfont.woff2') format('woff2'), url('../fonts/range-mono-bold-webfont.woff') format('woff'), url('../fonts/range-mono-bold-webfont.ttf') format('truetype'), url('../fonts/range-mono-bold-webfont.svg#range_monolight') format('svg')
  font-weight 700
  font-style normal
