$font-family = "Range Mono", "San Francisco", system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande"

$type-light = 300
$type-regular = 400
$type-medium = 500
$type-bold = 700
